*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("photos/inde.jpg");
	background-size: cover;
}
form{
	color: white;
	background-color: rgba(0,0,0,0.5);
	width: 380px;
	height: 430px;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	position: absolute;
}
h2{
	text-align: center;
	padding: 25px;
	margin-bottom: 40px;

}
p{
	margin-left: 20px;
	margin-bottom: 10px;

}
input{
	background:transparent;
	border:none;
	border-bottom: 1px solid #fff;
	margin-left: 25px;
	font-size: 30px;
	margin-bottom: 20px;
	color: white;
	outline: none;
}
button{
	margin-top: 15px;
	margin-left: 20px;
	height: 40px;
	width: 60%;
	background-color: yellow;
	border:none;
	outline: none;

}
